/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tabla {
    width: 100%;
    margin: 10px;
    overflow-y: scroll;
  }
  
  .table td,
  .table th {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: rgb(113, 113, 223);
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }
